
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-centre">
                    <h3>SingUp</h3>
                </div>
                <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" formControlName="name" class="form-control" id="name">
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" formControlName="username" class="form-control" id="username">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="text" class="form-control" id="password" formControlName="password">
                    </div>
                    <div class="btn btn-primary">
                        <button
                            [disabled]="signupForm.invalid || !signupForm.controls.name.value || !signupForm.controls.username.value || !signupForm.controls.password.value">
                            SingUp
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>